@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --fontFamily: "Poppins", sans-serif;
  --primaryClr: #ffffff;
  --border: 1px solid red;
  --lightBlc: #222222;
  --lightBlue: #918e9b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: var(--fontFamily);
  font-size: 62.5%;
}

.navbar {
  width: 100%;
  padding: 1rem 2rem;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.hero {
  margin-top: 1.4rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.hero__img {
  text-align: center;
}

.hero__img img {
  width: 80%;
}

.hero__heading {
  margin-top: 0.3rem;
  font-size: 2.4rem;
  line-height: 1.5;
}

.hero__text {
  font-size: 1rem;
  color: var(--lightBlc);
}

.cardContainer {
  display: flex;
  padding: 1rem 1.5rem;
}

.card {
  margin-right: 1rem;
}

.card__img {
  position: relative;
  display: inline-block;
}

.card__img img {
  width: 175px;
  height: 220px;
}

.card__soldout {
  position: absolute;
  left: 5%;
  top: 3%;
  background-color: white;
  padding: 0.1rem 0.3rem;
  letter-spacing: 1px;
  border-radius: 0.3rem;
}

.card__stats {
  font-size: 0.78rem;
  color: var(--lightBlc);
}

.card__stats--rating img {
  width: 0.8rem;
  margin-right: 0.3rem;
}

.card__stats--rating-ratingStar {
  font-size: 0.9rem;
}

.card__stats--rating-reviewCount {
  color: var(--lightBlue);
  margin: 0 0.3rem;
}

.card__stats--rating-country {
  color: var(--lightBlue);
}

@media only screen and (max-width: 600px) {
  .cardContainer {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .card {
    margin-bottom: 2rem;
  }
}
