@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --fontFamily: "Poppins", sans-serif;
  --primaryClr: #ffffff;
  --border: 1px solid red;
  --lightBlc: #222222;
  --lightBlue: #918e9b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: var(--fontFamily);
  font-size: 62.5%;
  overflow-x: hidden;
}

.navbar {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 1.5rem;
  width: 100%;
}

.navbar__logo {
  width: 4.4rem;
  cursor: pointer;
}

.hero {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hero__img {
  align-self: center;
}

.hero__img img {
  max-width: 80%;
}

.hero__heading {
  font-size: 2.4rem;
  margin: 1rem 0;
  line-height: 1.1;
}

.hero__text {
  font-size: 1rem;
  color: var(--lightBlc);
}

.cardcontainer {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  display: flex;
}

.cardcontainer__card {
  margin-right: 1rem;
}

.cardcontainer__card--img img {
  width: 175px;
}

.cardcontainer__card--stats {
  margin-top: 0.2rem;
  font-size: 12px;
}

.cardcontainer__card--stats-rating img {
  width: 14px;
  margin-right: 0.3rem;
}

.cardcontainer__card--stats-rating__buyer {
  margin: 0 0.2rem;
  color: var(--lightBlue);
}

.cardcontainer__card--stats-rating__country {
  color: var(--lightBlue);
}

.cardcontainer__card--stats-name,
.cardcontainer__card--stats-price,
.cardcontainer__card--stats-rating__ratingStar {
  color: var(--lightBlc);
}

@media only screen and (max-width: 480px) {
  .cardcontainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
  }
  .cardcontainer__card {
    margin-right: 0;
  }
}
